{% extends "base.html" %}

{% block head_title %}
- Title Part 2
{% endblock head_title %}

{% block content %}

<div class="row text-center">
    <div class="col">
        <h1> Welcome to SayIt </h1>
    </div>
</div>

<div class='row mb-3'>
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id='speak-create-form' method="POST" action="/create-speak">
            {% csrf_token %}
            <input type='hidden' value='/' name='next'/>
            <textarea class="form-control" name='content' placeholder="Say what you wanna say"></textarea>
            <button type='sumbit' class="btn btn-primary">Say It</button>
        </form>
    </div>
</div>

<div class="row" id='speak'>
    Loading...
</div>


<script>

function handleSpeakCreateFormDidSumbit(event) {
    event.preventDefault()
}

const speakCreateFormEle = document.getElementById('speak-create-form')
speakCreateFormEle.addEventListener("submit", handleSpeakCreateFormDidSumbit)

const speakEle = document.getElementById("speak")

const loadSpeak = function (speakElement) {
    const xhr = new XMLHttpRequest() // equivelant in Python would be xhr = SomeClass()
    const method = 'GET'
    const url = "/speak"
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalSpeakStr = ""
        var i; // learning note: doesn't matter if you just declare i or if you set it i = 0;
        for (i=0;i<listedItems.length; i++) {
            var speakObj = listedItems[i]
            var currentItem = formatSpeakElement(speakObj)
            finalSpeakStr += currentItem
        }
        speakElement.innerHTML = finalSpeakStr
    }
    xhr.send()
}
loadSpeak(speakEle)


function handleDidLike (speak_id, currentCount) {
    console.log(speak_id, currentCount)
    return
}


function LikeBtn(speak) {
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + speak.id + "," + speak.likes + ")>" + speak.likes + " Likes </button>"
}


function formatSpeakElement(speak) {
    var formattedSpeak = "<div class='col-12 col-md-10 mx-auto mb-4 border rounded py-3 speak' id='speak-" + speak.id 
    + "'><p>" + speak.content + 
        "</p><div class='btn-group'>" + LikeBtn(speak) +
        
        "</div></div>"
    return formattedSpeak
}




</script>
{% endblock content %}