{% extends "base.html" %}

{% block head_title %}
- Title Part 2
{% endblock head_title %}

{% block content %}
Welcome to SayIt

<div id='speak'>
    Loading...
</div>


<script>
const speakElement = document.getElementById("speak")
// speakElement.innerHTML = 'Loading...'


// var ele1 = "<h1>Hi there 1</h1>"
// var ele2 = "<h1>Hi there 2</h1>"
// var ele3 = "<h1>Hi there 3</h1>"
// speakElement.innerHTML = ele1 + ele2 + ele3

const xhr = new XMLHttpRequest() // equivelant in Python would be xhr = SomeClass()
const method = 'GET'
const url = "/speak"
const responseType = 'json'

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
    const serverResponse = xhr.response
    const listedItems = serverResponse.response
    var finalSpeakStr = ""
    var i; // learning note: doesn't matter if you just declare i or if you set it i = 0;
    for (i=0;i<listedItems.length; i++) {
        console.log(i)
        console.log(listedItems[i])
        var currentItem = "<divclass='mb-4'><h1>" + listedItems[i].id + "</h1>" + "<p>" + listedItems[i].content + "</p></div>"
            finalSpeakStr += currentItem
    }
    speakElement.innerHTML = finalSpeakStr
}

xhr.send()

</script>
{% endblock content %}